{% extends 'layout.html'%}
{% block content %}
<style>
	#myUL li a:hover {
	background-color: #eee;
	}
</style>
<!--content-->
{% for desktop in desktop %}
{% set recipedeskname = 'img/' + desktop.recipedesk %}
	<div class="desktop">
		<img src="{{ url_for('static', filename=recipedeskname)}}" alt="background">
		<div class="centered">Recipes</div>
	</div>
{% endfor %}
	<div class="post">
		<h1>Stay tuned for mouth watering recipes</h1>
		&nbsp
		<div class="recipe">
			{% for recipe in recipe %}
			{% set fname = 'img/' + recipe.img %}
			<div class="album">
				<img src="{{ url_for('static', filename=fname)}}" alt="recipe_1">
				<a href="/recipe/{{recipe.name}}">{{recipe.name}}</a>
			</div>
			{% endfor  %}
		</div>
		<a href="{{prev}}" style="float:left;" class="btn btn-success" style="font-size: 20px;">&laquo; Previous</a>
		<a href="{{next}}" style="float:right;" class="btn btn-success" style="font-size: 20px;">Next &raquo;</a>
	</div>
{% endblock %}